SoCraTes' UNION ALL SELECT 0, S.name+'.'+T.name+'.'+C.name, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 29, 2 FROM sys.columns C INNER JOIN sys.tables T ON T.object_id = C.object_id INNER JOIN sys.schemas S ON S.schema_id = T.schema_id--
